*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {

  --color-black: hsl(212, 21%, 14%);
  --color-grey: hsl(228, 12%, 48%);
  --color-cream: hsl(30, 38%, 92%);
  --color-green-500: hsl(158, 36%, 37%);
  --color-green-700: hsl(158, 42%, 18%);
}

.text-preset-1 {
  font-family: "Fraunces", serif;
  font-size: 2rem;
  line-height: 1;
  font-weight: 700;
}

.text-preset-2 {
  font-size: 0.875rem;
  line-height: 1.1;
  font-weight: 700;
}

.text-preset-3 {
  font-size: 0.875rem;
  line-height: 1.6;
  font-weight: 500;
}

.text-preset-4 {
  font-size: 0.75rem;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.3125rem;
}

.text-preset-5 {
  font-size: 0.8125rem;
  line-height: 1.2;
  font-weight: 500;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--color-cream);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.perfume-article {
  min-width: 21.875rem;
  background-color: white;
  border-radius: 0.5rem;
}

.perfume-image {
  width: 100%;
  border-radius: 0.5rem 0.5rem 0 0;
  display: block;
}

.article-content {
  padding: 2rem;
}

.title-section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-block-end: 1.5rem;
}

.perfume-label {
  color: var(--color-grey);
  text-transform: uppercase;
}

.main-title {
  color: var(--color-black);
  margin: 0;
}

.title-description {
  color: var(--color-grey);
  margin: 0;
}

.price-section {
  margin-block-end: 1.5rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.sale-price {
  color: var(--color-green-500);
}

.regular-price {
  color: var(--color-grey);
  text-decoration: line-through;
}

.add-to-cart-btn {
  width: 100%;
  padding-inline: 2rem;
  padding-block: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border: none;
  background-color: var(--color-green-500);
  transition: 0.4s ease-in-out;
}

.cart-icon {
  margin-inline-end: 0.5rem;
  width: 1.125rem;
  height: 1.125rem;
}

.cart-btn-text {
  color: white;
}

.add-to-cart-btn:active {
  background-color: var(--color-green-700);
}

@media(min-width: 37.5rem) {

  .perfume-article {
    display: flex;
    max-width: 37.5rem;

  }

  .perfume-image {
    border-radius: 0.5rem 0 0 0.5rem;
    width: 18.75rem;
    height: 100%;
  }

  .article-content {
    width: 18.75rem;
  }

  .add-to-cart-btn:hover {
    background-color: var(--color-green-700);
    cursor: pointer;
  }

}